* {
      margin: 0;
      padding: 0;
      
    }

    body {
      height: 100vh;
      background: #5392e3;
      display: grid;
      justify-content: center;
      align-content: center;

    }
    h2 {
        text-align: center;
        
        
    }

    .login-container {
      background: #fff;
      padding: 40px 30px;
      border-radius: 10px;
      display: grid;
      justify-content: center;
      width:300px;
      height: 320px;
      box-shadow: 0px 25px 30px #555;
    }

    label {
      font-weight: 600;
      color: #555;
    }

    input[type="text"],
    input[type="password"] {
      padding: 10px 12px;
      border: 1px solid #887171;
      border-radius: 7px;
      font-size: 16px;
    }

    input:focus {
      border-color: #007BFF;
      outline: none;
    }

    #new_user{
      text-align: center;
      border-radius: 6px;
      background-color: rgb(68, 216, 68);
      margin-top: 10px;
      height: 30px;
      text-decoration: none;
      padding-top: 5px;
    }
    #new_user:hover{
      background-color: rgb(19, 166, 19);     
    }

    button {
      padding: 12px;
      background-color: #007BFF;
      border: none;
      color: white;
      font-size: 16px;
      border-radius: 6px;
      margin-bottom: 5px;
    }

    button:hover {
      background-color: #0056b3;
    }

    