body{
            /* background-color: rgb(180, 36, 180); */
            border: 10px solid rgb(180, 36, 180);
            background-color: rgb(72, 67, 67);
            color:white;
            height: 100%;
            border-radius: 100px;
        }

        .nav_wrapper{
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            align-content: start;
            height: 12vh;
            width: 90vw;
            padding:10px;
            /* margin:10px 10px 250px 10px; */
            justify-content: space-evenly;
            justify-items: center;
        }
        .nav_name{
            margin: 10px;
            padding: 10px;
        }
        .nav_container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding:10px;
            margin:10px;
            /* width: 60%; */
            font-size: 20px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .items{
            margin:10px;
            text-align: center;
        }
        #item1:hover, #item2:hover, #item3:hover{
            font-size: x-large;
        }
        .contact_div{
            /* display: grid;
            grid-template-columns: 20% auto;
            justify-content: space-around; */
            border:2px solid black;
            margin:10px;
            padding:10px;
            font-size: 20px;
            border-radius: 30px;
            background-color: rgba(35, 33, 32, 0.996);
            width: 100px;
            height: 30px;
        }
        #contact_logo{
            border:2px solid black;
            padding:15px;
        }
        #item4{
            text-align: center;
            color:black;
        }
        .content{
            background-color: rgb(81, 78, 78);
            display: grid;
            grid-template-columns: 1fr 2fr;
            padding: 10px;
            gap:10px;
            margin: 10px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            /* height: 35vh;  */
            height: 100vh;
            border-radius: 60px;
        }
        .links1,.links2{
            display: grid;
            grid-template-columns: 1fr 2fr 2fr 1fr ;
            column-gap: 10%;
        }
        #linked,#linked1{
           grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        #github,#github1{
            grid-column-start:3;
            grid-column-end:4;
        }

        #img_div{
            /* border: 2px solid black; */
            /* height:250px;
            width: 250px; */
            height: 25vh;
            width: 25vw;
            border-radius: 50%;
            margin-left: 20%;
        }
        #my_img{
            display: grid;
            justify-self: center;
            /* height: 250px; */
            height:34vh;
            border-radius: 50%;
        }
        .paragraph{
            padding:10px;
            width: 80%;
        }
        #skill_div, #contact_div,#exp_div{
            display: grid;
            /* width: 100vw; */
            background-color: rgb(81, 78, 78);
            width: 94vw;
            padding: 10px;
            gap:10px;
            margin: 10px;
            border-radius: 65px;

        }
          #exp_div{
            justify-content: center;
            align-content: center;
             height: 100vh;


          }
          #skill_div{
            height: 100vh;
            justify-content: center;
            align-content: center;
          }

        #about{
            grid-column-start: 2;
            width:40%;
        }

        #contact{
            grid-column-start: 2;
            /* color: black; */
            background-image: url(contact.jpg);
            height: 46vh;
            width: 35vw;
            padding: 0vw 5vw 0 4vw;
        }
        p{
            color:white;
        }
        a{
            color: white;
            text-decoration: none;
        }
        a:hover{
            color: rgb(180, 36, 180);
            text-decoration: none;
        }
        input[type=text]:focus{
            width: 50%;
            /* background-color: rgb(180, 36, 180);
            color: white; */
        }

        #message_div{
            display: grid;
            grid-template-columns: 1fr 3fr;
            column-gap: 28px;
            row-gap: 10px;
        }
         #submit{
            background: linear-gradient(to bottom right,rgb(72, 67, 67),rgb(180, 36, 180));
            color:white;
            border-radius: 10px;
            grid-column-start: 2;
            grid-column-end: 3;
            justify-self: start;
            align-self: end;
            width: 100px;
            height: 30px;
        }
         #submit:hover{
            background: linear-gradient(to bottom right,rgb(180, 36, 180),rgb(72, 67, 67));
            cursor: pointer;
            color:white;
        }
        #color{
            text-transform:uppercase;
            font-size:large;
            color:rgb(180, 36, 180);
        }
        #color:hover{
            text-transform:uppercase;
            font-size:xx-large;
            color:rgb(180, 36, 180);
        }




        @media (min-width: 768px) {
            body{
                /* background-color: red; */
            }

        }
        @media (max-width: 768px) {
            body{
                /* background-color: blue; */
            }
            #my_img{
               height:25vh;
            }
        }
