body {
    background: linear-gradient(to right, #e0c3fc, #8ec5fc);
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px #d8b4f8;
}

.sub-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}

.banner-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.error-section {
    display: block;
    color: red;
    margin-top: -13px;
    margin-left: 5px;
    font-size: small;
    min-height: 18px;
    min-width: 100px;

}

.box1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.box2 {
    display: flex;
    gap: 5px;
    margin-bottom: 50px;
}

body {
    background-color: rgb(235, 163, 63);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#heading {
    /* font-family: cursive; */
    margin-bottom: 50px;
}

#terms-and-conditions{
    margin-bottom: 15px;
}
.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#my_button {
    background: linear-gradient(to right, #e0c3fc, #8ec5fc);
    width: 100%;
    color: white;
    border: none;
    /* border-radius: 8px; */
    padding: 10px 10px;
    margin: 5px 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#my_button:hover {
    background-color: #27ae60;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    /* transform: scale(1.05); */
}

.form-control {
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    box-sizing: border-box;
    min-width: 100px;
}


.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  .form-row {
    grid-template-columns: 1fr; /* Stack inputs vertically */
  }
}

